{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <main class="w3-container">
            <h1>Gestion Partes</h1>
            {#TODO: ajustar form#}
            <form action="">
                <div class="w3-col m4 w3-section">
                    <input type="text" name="like" id="partesSearchBar" value="{{ app.request.get('like') }}">
                    <i class="fa fa-search fa-lg fa-flip-horizontal"></i>
                    <div class="i-checks">
                        {% if app.request.get('historico') == 'on' %}
                            <input type="checkbox" name="historico" checked>
                        {% else %}
                            <input type="checkbox" name="historico">
                        {% endif %}
                        <span> Histórico</span>
                    </div>
                    <input type="submit" value="Buscar" class="w3-button w3-text-white"/>
                </div>
                <div class="w3-col m3 w3-section">
                    {#TODO: enlaces#}
                    <a href="{{ path('nuevoParte') }}" class="w3-margin-right" title="Nuevo Parte"><i
                                class="fa fa-plus-circle fa-2x"></i></a>
                    <a href="#" class="w3-margin-right" title="Exportar"><i class="fa fa-download fa-2x"></i></a>
                    <a href="#" class="w3-margin-right" title="Importar"><i class="fa fa-upload fa-2x"></i></a>
                </div>
                <div class="w3-col m12 w3-responsive w3-section">
                    <table class="w3-table-all w3-centered w3-margin-top">
                        <tr>
                            <th>NumParte</th>
                            <th>Fecha</th>
                            <th>Alumno</th>
                            <th>Curso</th>
                            <th>Profesor</th>
                            <th>Tipo</th>
                            <th>Puntos</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        {% for parte in partes %}
                            {% if parte.idTipo.tipo == 'Grave' %}
                                {% set colorClass = 'w3-text-red' %}
                            {% elseif parte.idTipo.tipo  == 'Leve' %}
                                {% set colorClass = 'text-orange' %}
                            {% else %}
                                {% set colorClass = 'w3-text-black' %}
                            {% endif %}
                            {% if parte.idEstado.estado == 'Caducado' %}
                                {% set colorClass = 'w3-text-grey' %}
                            {% endif %}
                            <tr class="{{ colorClass }}">
                                <td>{{ parte.id }}</td>
                                <td>{{ parte.fecha|date("d/m/Y") }}</td>
                                <td>
                                    <a href="{{ path('verAlumno', {'id': parte.idAlumno.id}) }}">{{ parte.idAlumno.nombre }}</a>
                                </td>
                                {% if parte.idAlumno.idCurso != null %}
                                    <td>{{ parte.idAlumno.idCurso.grupo }}</td>
                                {% else %}
                                    <td>Ninguno</td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('verProfesor', {'id': parte.idProfesor.id}) }}">{{ parte.idProfesor.nombre }}</a>
                                </td>
                                <td>{{ parte.idTipo.tipo }}</td>
                                <td>{{ parte.puntos }}</td>
                                <td>{{ parte.idEstado.estado }}</td>
                                <td><a href="{{ path('nuevoParte') }}?idParte={{ parte.id }}">editar</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="paginator w3-col m12">
                    {{ knp_pagination_render(partes) }}
                </div>
            </form>
        </main>
    {% endblock %}
{% endblock %}