{% extends "base.html.twig" %}

{% block body %}

    <div class="w3-row w3-container w3-white w3-margin-bottom">

        <h1 class="w3-center">Formulario Sanciones</h1>
        <form method="post" class="w3-content" name="formBusqueda">
            <div class="w3-center w3-margin w3-padding">
                <input class="w3-button w3-text-white busquedaMas" id="busqueda" type="button"
                       value="Búsqueda Avanzada">
                {% if app.request.get('idSancion') is not null %}
                    {% if accion != 'Inhabilitada' %}
                        <a href="{{ path('nueva_sancion', {'idSancion': sancion.id, 'estadoSancion': 'continuar' }) }}"
                           class="w3-button w3-text-white botonSubmit confirm" data-title="{{ accion }}">{{ accion }}</a>
                        {#<input class="w3-button w3-text-white"#}
                               {#type="submit" name="estadoSancion" value="{{ accion }}">#}
                    {% else %}
                        <input class="w3-button w3-text-white botonSubmit confirm"
                               type="button" value="{{ sancion.getIdEstado().getEstado() }}" disabled>
                    {% endif %}
                {% endif %}
            </div>
            <div id="cursos">
                {% for curso in cursos %}
                    <label><input type="checkbox" name="cursos[]" value="{{ curso.curso }}"> {{ curso.curso }}</label>
                {% endfor %}
                <div class="w3-center w3-block">
                    <input class="w3-button w3-text-white" type="submit" name="busqueda" value="Buscar">
                </div>
            </div>
        </form>

        {{ form_start(form, {'attr': {'class':'w3-content formConvivencia'}}) }}
        {{ form_row(form.idAlumno) }}
        {#{{ form_row(form.Fecha) }}#}
        <label class="w3-text-teal">Fecha</label>
        <input type="text" name="fecha" class = "w3-select datepicker w3-border w3-light-grey marginBottom"
               value="{{ sancion.fecha|date('d/m/Y') }}" required>
        {{ form_row(form.idTipo) }}
        <label class="w3-text-teal">Fecha Inicio</label>
        <input type="text" name="fechaInicio" class = "w3-select datepicker w3-border w3-light-grey marginBottom"
               value="{{ sancion.fechaInicio|date('d/m/Y') }}" required>
        <label class="w3-text-teal">Fecha Final</label>
        <input type="text" name="fechaFinal" class = "w3-select datepicker w3-border w3-light-grey marginBottom"
               value="{{ sancion.fechaFinal|date('d/m/Y') }}" required>
        {% if detalles is defined and detalles is not null and detalles is not empty %}
            <div class="contenedorFlexEdit">
                {% for detalle in detalles %}
                    <div class="contenedorFlexChild">
                        <label class="w3-text-teal">Fecha Hora Sanción</label>
                        <input type="text" class="w3-input w3-border w3-light-grey datepicker"
                               value="{{ detalle.fecha|date('d/m/Y') }}" name="fechaHoraEdit[{{ detalle.id }}]"
                               contenteditable="false">
                    </div>
                    <div class="contenedorFlexChild">
                        <label class="w3-text-teal">Hora</label>
                        <select class="w3-select w3-border w3-light-grey" name="horaAcEdit[{{ detalle.id }}]">
                            {% for key, hora in horas %}
                                {% if detalle.hora == key %}
                                    <option value="{{ key }}" selected>{{ hora }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ hora }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <div class="w3-center w3-block"><input type="button" id="checkEditSancion"
                                                       class="w3-button w3-margin w3-text-white checkNewSancion"
                                                       value="+">
                </div>
            </div>
        {% endif %}
        {{ form_row(form.fechaComunicacion) }}
        {{ form_row(form.fechaConfirmacion) }}
        {{ form_widget(form) }}
        <br/>
        <input class="w3-button w3-block w3-section w3-text-white" type="submit" name="registrarSancion" value="Enviar">
        <a href="{{ path('gestion_sanciones') }}" data-title="Cancelar" class="w3-button w3-block w3-section w3-text-white botonSubmit confirm">Cancelar</a>
        {{ form_end(form) }}

    </div>

{% endblock %}