{% extends 'base.html.twig' %}

{% block body %}

    <style>
        body{
            background-color: white;
        }
    </style>

    <div class="w3-row w3-container w3-white w3-margin-bottom">
        <h1 class="w3-center">Editar Diario Aula Convivencia</h1>
        <h2 class="w3-center">{{ diario.idSancion.idAlumno.getNombreCompleto() }}</h2>

        <form method="post" class="w3-content" name="formBusqueda">
            <div class="w3-center">
            {% if recupera %}
                <a href="{{ path('edit_diario', {'id': app.request.get('id'), 'recuperaPunto': 'true'}) }}"
                   class="w3-button w3-text-white botonSubmit confirm" data-title="Recuperar Punto">+1 Punto</a>
            {% else %}
                <input class="w3-button w3-text-white botonSubmit confirm" type="button" name="recuperaPunto"
                       value="+1 Punto"
                       disabled>
            {% endif %}
            </div>
        </form>
        {{ form_start(form, {'attr': {'class':'w3-content formConvivencia', 'id':'diarioAulaForm'}}) }}
        {{ form_widget(form) }}
        <input class="w3-button w3-block w3-section w3-text-white" type="submit" name="editarDiario" value="Editar">
        {{ form_end(form) }}

    </div>

{% endblock %}