{% extends 'base.html.twig' %}


{% block body %}

    {% block header %}
        <main class="w3-container">
            <h1>Carnets Alumnos</h1>
            <form action="">
                <div class="w3-row-padding">
                    <div class="w3-col m3 w3-section">
                        <input type="text" name="like" id="partesSearchBar" value="{{ app.request.get('like') }}">
                        <i class="fa fa-search fa-lg fa-flip-horizontal"></i>
                        <input type="submit" value="Buscar" class="w3-button w3-text-white"/>
                    </div>
                </div>

                <div class="w3-col m12 w3-responsive w3-section">
                    <table class="w3-table-all w3-centered w3-margin-top">
                        <tr>
                            <th>Alumno</th>
                            <th>Puntos</th>
                            <th>Grupo</th>
                            <th>Medida</th>
                        </tr>
                        {% for carnet in arrayCarnetData %}
                            {% if carnet.alumno.puntos == 0 %}
                                {% set colorClass = 'w3-text-green' %}
                            {% elseif carnet.alumno.puntos > 0 and carnet.alumno.puntos <7 %}
                                {% set colorClass = 'text-orange' %}
                            {% elseif carnet.alumno.puntos == 7 %}
                                {% set colorClass = 'w3-text-pink' %}
                            {% elseif carnet.alumno.puntos > 7 and carnet.alumno.puntos <10 %}
                                {% set colorClass = 'text-darkRed' %}
                            {% elseif carnet.alumno.puntos >= 10 %}
                                {% set colorClass = 'w3-text-red' %}
                            {% else %}
                                {% set colorClass = 'w3-text-black' %}
                            {% endif %}
                            <tr class="{{ colorClass }}">
                                <td>
                                    <a href="{{ path('verAlumno', {'id': carnet.alumno.id}) }}">{{ carnet.alumno.getNombreCompleto() }}</a>
                                </td>
                                <td>{{ carnet.alumno.puntos }}</td>
                                {% if carnet.alumno.idCurso != null %}
                                    <td>{{ carnet.alumno.idCurso.grupo }}</td>
                                {% else %}
                                    <td>Ninguno</td>
                                {% endif %}
                                {% if carnet.arraySanciones|length > 0 %}
                                    <td>
                                        {% for sancion in carnet.arraySanciones %}
                                            {% if loop.index != loop.last %}
                                                {% set sancionName = sancion.sancion~',' %}
                                            {% else %}
                                                {% set sancionName = sancion.sancion %}
                                            {% endif %}
                                            <a href="{{ path('nueva_sancion', {'idSancion':sancion.id}) }}"> {{ sancionName }}</a>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    {% if carnet.alumno.puntos >0 %}
                                        <td><a href="{{ path('nueva_sancion', {'idAlumno': carnet.alumno.id}) }}">Crear
                                                Sanción</a></td>
                                        {#<td>No sancionado(implementar crear sanción)</td>#}
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="paginator w3-col m12">
                    {{ knp_pagination_render(arrayCarnetData) }}
                </div>
            </form>
        </main>
    {% endblock %}
{% endblock %}