{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-col s10 w3-display-middle">
    <h1 class="w3-center">Cambiar Contraseña</h1>

    {% for flash_message in app.session.flashBag.get('password') %}
        <div class="w3-panel w3-pale-green w3-round-large">
            <p class="w3-center">{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('passwordError') %}
        <div class="w3-panel w3-pale-red w3-round-large">
            <p class="w3-center">{{ flash_message }}</p>
        </div>
    {% endfor %}

    <div class="w3-row w3-center">
        <div class="contenedorCartaAlumno">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="w3-button w3-text-white" type="submit" name="cambiar" value="Modificar">
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}
